<!DOCTYPE html>
<html>
<head>
    <title>A test blog fourm project</title>
    <meta charset="utf-8">
    <meta lang="zh_cn">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    {% if login_status %}
    <h1>{{welcome_txt}}</h1>
    <br>
    
    {% else %}
    <h1>welcome</h1>
    <p><a href="/signup">sign up</a>|<a href="/signin">sign in</a></p>
    {% endif %}

    <p>this is a test blog fourm project site,please fell free to do anything</p>
    <p>we will support :</p>
    <ul>
        <li>sign up,sign in and personal profile</li>
        <li>read blog </li>
        <li>upload blog article</li>
        <li>comment on blog articles</li>
    </ul>
</body>
<footer>
    <p>the latest <a href="/articles">articles</a>:</p>
    {% if posts %}
        <h2>最近文章</h2>
        <ul>
            {% for post in posts %}
                <li><a href="/article/{{post.file_path.name}}">
                    {{loop.index}} - {{post.title}} - {{post.author}}- {{post.date}}
                </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>暂无文章</p>
    {% endif %}

    <p>total visited {{visitor_counter}}</p>
</footer>
</html>