<!DOCTYPE html>
<head>
    <title>A test blog fourm project</title>
    <meta charset="utf-8">
    <meta lang="zh_cn">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    {% if login %}
    <h1>welcome, {{welcome_txt}}</h1>

    {% else %}
    <h1>welcome</h1>
    <p><a href="/signup">sign up</a>|<a href="/signin">sign in</a></p>
    {% endif %}

    <p>this is a test blog fourm project site,please fell free to do anything</p>
    <p>we will support :</p>
    <ul>
        <li>sign up,sign in and personal profile</li>
        <li>read bolg </li>
        <li>upload blog article</li>
        <li>comment on blog articles</li>
    </ul>
    <p>the latest articles:</p>
    {% if posts %}
        <h2>最近文章</h2>
        <ul>
            {% for post in posts %}
                <li>{{loop.index}} - {{post.title}} - {{post.date}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>暂无文章</p>
    {% endif %}
</body>
<footer>
    <p>total visited {{visitor_counter}}</p>
</footer>