<!DOCTYPE html>
<html>
<head>
    <title>sign up </title>
    <meta charset="utf-8">
    <meta lang="zh_cn">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    <h1>please sign up</h1>
    <form method="post">
        <p>your user name <input type="text" name="username" placeholder="your user name"></p>
        <p>password <input type="password" name="password" placeholder="your password"></p>
        <p><input type="submit" value="register"></p>
    </form>
</body>
</html>