<!DOCTYPE html>
<html>
<head>
    <title>404 not flound - A test blog fourm project</title>
    <meta charset="utf-8">
    <meta lang="zh_cn">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    {% if login_status %}
    <h1>welcome, {{welcome_txt}}</h1>
    <br>
    <br>
    {% else %}
    <h1>welcome</h1>
    <p><a href="/signup">sign up</a>|<a href="/signin">sign in</a></p>
    <br>
    {% endif %}
    <h1>404 Not Found</h1>
    <p>Sorry,the page you required is not found on server. You can watch other articles</p>
    <p><a href='/' title="go to home page">go to index page</a></p>
</body>
<footer>
    <p>the latest articles:</p>
    {% if posts %}
        <h2>最近文章</h2>
        <ul>
            {% for post in posts %}
                <a href="/article/{{post.file_path.name}}">
                    <li>{{loop.index}} - {{post.title}} - {{post.author}}- {{post.date}}</li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>暂无文章</p>
    {% endif %}

    <p>total visited {{visitor_counter}}</p>
</footer>
</html>